body,
	html {
		margin:0;
		padding:0;
		color:#000;
		font-family: verdana, arial, "sans serif";
		font-size: 14px;
		height: 100%;

		}
	body {
		
		
		
	
	}
	#outerWrap {
		width:980px;
		margin:0 auto;
		 background: url('../images/bgtile.png') repeat-y center; /**/
		 min-height: 100%;
	}
	#wrap {
		width:960px;
		margin:0 auto;
		min-height: 100%;

	}
	#header {
    	padding:5px 10px;
		background:#B5C1A9;
		height: 100px;
		font-family: georgia;
		font-size: 24px;
		color: #175763;
		
	}
	#header h1 {
		margin-top: 20px;
		text-align: center;
	}
	h1 {
	    margin:0;
    }
	h2{
		font-family: georgia;
		color: #175763;
	}
	

		.thisCD {
			border: 1px solid #999;
			padding: 5px;
			margin-top:10px;
			/*
			height: 150px;*/
			width: 200px;
			background-color:#fff;
			text-align: left;
		
		}
		.displayCategory {

			/*font-weight: bold; */
			color: #009;
		}
		.displayInfo{

			font-weight: normal;
			color: #900;
		}
		.cdImage {
			float: right;
		}
		.displayDescription {
			font-size: 85%;
			padding: 7px;
		}
		.clearFix {
			clear: both;
		}
	
	

	#nav {
		padding:5px 18px;
		background:#F9EDC5;
		height: 20px;
		border-top: 1px solid #999;
		border-bottom: 1px solid #ccc;

		
	}
	#nav ul {
		margin:0;
		padding:0;
		list-style:none;
	}
	#nav li {
		display:inline;
		margin:0;
		padding:0;
		font-family: arial;
		font-weight:bold;
		
	}
	#nav a {
		color: #175763;
		font-size: 16px;
		font-family: arial;
		font-weight: bold;
		text-decoration: none;
	}
	
	
	#main {
		float:left;
		width:730px;
		padding:0px;
		

	}
	#mainPadding {
		padding: 10px 20px;
	}
	h2 {
		margin:0 0 1em;
	}
	#sidebar {
		float:left;
		width:210px;
		padding:10px;
		background:#eaeaea;
		text-align: left;
		box-shadow: -2px 0px 3px #888888;
		
	}
	#sidebar a{
		color: #175763;
		font-weight: bold;
		font-size: 12px;
	}
	#sideBarHeading{
		background-color:#666;
		color: #fff;
		font-size: 18px;
		text-align: center;
		padding: 5px;
		font-family: georgia;
		
	}
	#sideDisplay{
		width: 200px;
		height: 600px;
		
		
	}
	#footer {
		clear:both;
		height:10px;
		margin-left: auto;
		margin-right: auto;
		width: 960px;
	}
